/* general */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}

/* utility */
.debug {
  border: 1px dashed fuchsia;
  min-height: 10px;
  min-width: 10px;
}

.container {
  margin: 0px auto;
  padding: 5px;

  width: 100%;
  max-width: 900px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* more */
/* stuttura in colonne */
.row {
  margin: -10px;
}
.column {
  width: calc(100% / 3);
  float: left;
  margin: 20px 0px;
  padding: 0px 10px;
}

/* header */
.title {
  text-align: center;
  font-family: "Bagel Fat One", cursive;
  color: #e53170;
}

header > p {
  margin: 20px 0px;
  text-align: center;
}

/* card e figli */
.card {
  background-color: black;
  color: white;

  min-width: 10px;
  min-height: 10px;
  box-shadow: 10px 10px 5px #dedede;
}
.card > .name {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: larger;
  padding-top: 20px;
}
.card > .profession {
  font-size: smaller;
}
.card > .mail {
  color: #34addc;
  text-decoration: none;
}
.card > img {
  float: left;
  max-height: 100px;
  max-width: 100px;

  margin: 0px 30px 0px 0px;
}
